body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #020101;
}

#start-container, #game-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.neon-button {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: #000000;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease;
}

.neon-button:hover {
  box-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6;
}

#word-display {
  font-size: 24px;
  margin: 20px 0;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.key {
  padding: 10px;
  font-size: 18px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  text-align: center;
}

.key:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.key:hover {
  box-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6;
}

#message, #lives {
  margin-top: 20px;
  font-size: 18px;
}

#message {
  color: red;
}

#reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.reset:hover {
  box-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6;
}
